<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJ97X7UrZnnwr3sWCG6YvN-M4gxb6xwSs</string>
	<key>GCM_SENDER_ID</key>
	<string>627056572297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.poppang.PopPang</string>
	<key>PROJECT_ID</key>
	<string>poppangfcm</string>
	<key>STORAGE_BUCKET</key>
	<string>poppangfcm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627056572297:ios:cd853071fa5bbdff6cd358</string>
</dict>
</plist>